<!-- Overlay -->
@if (isMobileOrTablet && isMobileOpen) {
  <div
    class="fixed inset-0 bg-black/50 z-40 transition-opacity duration-300"
    tabindex="0"
    (click)="toggleSidebar(false)"
    (keydown)="onOverlayKeydown($event)"
    aria-label="Close sidebar overlay"
  ></div>
}

<!-- Sidebar -->
<aside
  class="h-screen bg-black text-zinc-200 flex flex-col border-r border-zinc-800 p-2 transition-all duration-300 ease-in-out z-50"
  [class.fixed]="isMobileOrTablet"
  [class.relative]="!isMobileOrTablet"
  [class.w-80]="!isMobileOrTablet && !isCollapsed"
  [class.w-20]="!isMobileOrTablet && isCollapsed"
  [class.w-72]="isMobileOrTablet"
  [class.-translate-x-full]="isMobileOrTablet && !isMobileOpen"
  [class.translate-x-0]="isMobileOrTablet && isMobileOpen"
>
  <!-- Brand -->
  <app-sidebar-brand
    [isCollapsed]="isCollapsed"
    (toggleSidebar)="toggleSidebar()"
  ></app-sidebar-brand>

  <!-- Header Sidebar -->
  <app-sidebar-header [isCollapsed]="isCollapsed" (onLogout)="onLogout()"></app-sidebar-header>

  <!-- Search -->
  @if (!isCollapsed && !isMobileOrTablet) {
    <app-sidebar-search></app-sidebar-search>
  }

  <!-- Menu -->
  <div class="flex-1 flex flex-col overflow-y-auto scrollbar-none">
    <app-sidebar-menu
      [isCollapsed]="isCollapsed"
      [openMenu]="openMenu"
      [toggle]="toggle.bind(this)"
    ></app-sidebar-menu>
  </div>

  <!-- Footer -->
  <app-sidebar-footer
    [isCollapsed]="isCollapsed"
    (toggleSidebar)="toggleSidebar()"
  ></app-sidebar-footer>
</aside>
