<main>
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-1 text-start">Accordion Showcase</h1>
    <z-breadcrumb>
      <z-breadcrumb-list zWrap="wrap" zAlign="start">
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="#" class="text-[var(--color-text-tertiary)]"
            >UI Elements</z-breadcrumb-link
          >
        </z-breadcrumb-item>
        <z-breadcrumb-separator class="flex items-center">
          <iconify-icon
            icon="mdi:chevron-right"
            width="16"
            class="text-[var(--color-text-primary)]"
          ></iconify-icon>
        </z-breadcrumb-separator>
        <z-breadcrumb-item>
          <z-breadcrumb-page>Accordion</z-breadcrumb-page>
        </z-breadcrumb-item>
      </z-breadcrumb-list>
    </z-breadcrumb>
  </div>
</main>
