<header class="w-full bg-white px-6 py-3 flex items-center justify-between shadow-md border-b">
  <!-- Left Section -->
  <div class="flex items-center sm:gap-4 gap-3">
    <!-- Logo -->
    <div class="flex items-center gap-2">
      <iconify-icon
        icon="devicon:angular"
        width="28"
        height="28"
        class="text-red-500"
      ></iconify-icon>
    </div>

    <div class="lg:block hidden">
      <!-- Title -->
      <span class="text-sm sm:text-base font-semibold text-gray-800"> Orion Dashboard </span>
      <!-- Mini Widget -->
      <div class="sm:flex items-center gap-3 mt-1 rounded-lg bg-gradient-to-r bg-white">
        <!-- Weather -->
        <div class="flex items-center gap-1 text-xs text-red-600 font-medium">
          <iconify-icon icon="mdi:weather-sunny" width="16"></iconify-icon>
          <span>29°C</span>
        </div>
        <span class="text-gray-300">|</span>
        <!-- Clock -->
        <div class="flex items-center gap-1 text-xs text-gray-600 font-medium">
          <iconify-icon icon="mdi:clock-outline" width="15"></iconify-icon>
          <span>{{ currentTime }}</span>
        </div>
      </div>
    </div>

    <!-- Hamburger -->
    @if (isMobileOrTablet) {
      <button (click)="toggleSidebar.emit()" class="rounded-md transition sm:ml-2 cursor-pointer">
        <iconify-icon icon="mdi:menu" width="18" height="18" class="text-gray-700"></iconify-icon>
      </button>
    }
  </div>

  <!-- Right Section -->
  <div class="flex items-center gap-2 sm:gap-3">
    <!-- Search hanya tampil di desktop -->
    <div class="hidden md:block relative w-56">
      <input
        type="text"
        placeholder="Search..."
        class="w-full pl-9 pr-3 py-2 rounded-md bg-white border focus:outline-none focus:ring-1 focus:ring-red-500 text-sm text-gray-700 placeholder-gray-400 transition-all"
      />
      <iconify-icon
        icon="mdi:magnify"
        class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"
      ></iconify-icon>
    </div>

    <!-- Notification -->
    <button class="relative px-3 py-2 rounded-md bg-white border hover:bg-gray-100 transition">
      <iconify-icon icon="mdi:bell-outline" class="text-gray-500"></iconify-icon>
      <span class="absolute top-1 right-1 w-2 h-2 bg-pink-500 rounded-full"></span>
    </button>

    <!-- Settings -->
    <button class="px-3 py-2 rounded-md bg-white border hover:bg-gray-100 transition">
      <iconify-icon icon="mdi:cog-outline" class="text-gray-500"></iconify-icon>
    </button>

    <!-- Export -->
    <button
      class="hidden sm:flex items-center gap-2 px-3 py-2 rounded-md bg-black text-white hover:opacity-90 transition text-sm font-medium shadow-none"
    >
      <iconify-icon icon="uil:export"></iconify-icon>
      Export Data
    </button>
  </div>
</header>
